@import "../styles/common.scss";

.login-background {
    // background: rgb(34, 193, 195);
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {
        width: 400px;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 400px;

        .login-content {
            padding: 10px;


            .text-login {
                font-weight: 700;
                text-align: center;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;
            }

            // .login-password-input {
            //     .custom-input-password {
            //         position: relavtive;

            //         i {
            //             position: absolute;
            //             right: 5px;
            //             top: 10px;
            //         }
            //     }
            // }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                font-weight: 600;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }

            .btn-login:hover {
                opacity: 0.8;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 10px;

                .g-icon,
                .f-icon {
                    font-size: 35px;
                }

                .g-icon {
                    background: #c32424;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 20px;
                }

                .f-icon {
                    background: #307aff;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-left: 20px;
                }
            }
        }
    }
}